
/* general */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}

div img{
    width: 100%;
}
img{
  display: block;
}
.f-r{
    float: right;
}
.f-l{
    float: left;
}
.clear{
    clear: both;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
body{
    font-family: Exo, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
}
a {
  text-decoration: none;
}
a, span{
  display: inline-block;
}
.flex {
    display: flex;
}
/* nav-bar */
.nav-bar {
  position: fixed;
  top: 20px;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  z-index: 50;
  padding: 0px 0px;
  
}

.nav-bar .right {
  margin-left: 5px;
}

.nav-bar .right a span {
  font-size: 1.8rem;
  font-weight: 800;
}

.nav-bar span.orange {
  color: oklch(70.5% .213 47.604);
}

.nav-bar .imge {
  width: 15px;
  margin: 5px 5px;
}

.nav-bar ul {
  list-style: none;
  padding: 0 20px;
  margin: 25px;
  display: flex;
  gap: 25px;
}

.nav-bar a {
  color: #111;
  text-decoration: none;
  font-size: .9rem;
  margin: 2px 5px;
}

.nav-bar ul li a.hover {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-bar ul li a.hover:hover {
  color: oklch(70.5% .213 47.604);
}

.nav-bar ul li a.hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: oklch(70.5% .213 47.604);
  transition: width 0.3s ease;
}

.nav-bar ul li a.hover:hover::after {
  width: 100%;
}
.nav-bar .btn{
  margin-left: 200px;
}

.nav-bar .btn .cta-btn {
  background-color: #ffd15b;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #111;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-bar .btn .cta-btn a {
  color: #111;
}

.nav-bar .btn .cta-btn:hover {
  margin-top: 8px;
  right: 15px;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
/* hero sec */
#hero{
  background-color: oklch(94.5% .129 101.54);
  padding-top: 150px;
  display: flex;
  padding-bottom: 50px;
  border: 2px solid #000;
}
#hero .container{
  display: flex;
  justify-content: space-between;
}
#hero .text{
  width: 50%;
  position: relative;
  padding-bottom: 50px;
}
#hero .fire{
  background-color: black;
  color: white;
  width: fit-content;
  box-shadow: 3px 3px #000;
  border: 2px solid #000;
  rotate: -2deg;
  font-weight: 600;
  font-size: .8rem;
  padding: 10px 7px;
}
#hero h2{
  font-weight: 900;
  text-shadow: 3px 3px #000c;
  font-size: 4.5rem;
  line-height: 1.2;
}
#hero h2 .text-red{
  color: oklch(57.7% .245 27.325);
}
#hero h2 .text-blue{
  color: oklch(54.6% .245 262.881);
}
#hero p.bg-white{
  background-color: white;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem;
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  margin-bottom: 30px;
}
#hero .buttons {
  display: flex;
  gap: 20px;
}
#hero .buttons button{
  width: fit-content;
  display: flex;
  position: relative;
  box-shadow: 6px 6px #000;
  border: 3.5px solid #000;
  margin-left: 0;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  
}
#hero p{
  z-index: 1;
}
#hero .buttons button:hover{
  box-shadow: none;
  transform: translateY(6px);
  transform: translatex(6px);
  
}
#hero .buttons button span{
  padding-top: 5px;
}
#hero .buttons button.bg-black{
  background-color: #000;
  color: white;
}
#hero .buttons button .imge{
  width: 30px;
  padding: 3px;
}
#hero .relative{
  position: relative;
  width: 45%;
  rotate: 2deg;
  z-index: 1;
}
#hero .relative .imge{
  box-shadow: 4px 4px 0 #000;
  border: 4px solid #000;
  height: 380px;
  overflow: hidden;
  margin-top: 70px;
  transition: all 0.3s ease;
}
#hero .relative .imge:hover{
  transform: translate(3px, 2px);
  box-shadow: 1px 1px #000;
}
#hero .relative .imge img{
  height: 100%;
  object-fit: cover;
}

#hero .relative .absolute{
  position: absolute;
  width: fit-content;
  padding: 10px;
  background-color: oklch(63.7% .237 25.331);
  color: white;
  box-shadow: 3px 3px 0 #000;
  border: 4px solid #000;
  font-weight: 500;
  rotate: 12deg;
  right: -.5rem;
  top: 2.5rem;
}
#hero .box1{
  position: absolute;
  width: 8%;
  height: 18%;
  background-color: rgba(0, 0, 0, 0.15);  
  rotate: 12deg;
  top: 7%;
  left: 3%;
  z-index: 0;
}
#hero .box2{
  position: absolute;
  width: 6%;
  height: 12%;
  background-color: rgba(0, 0, 0, 0.1);  
  rotate: 12deg;
  bottom: 7%;
  left: 28%;
  z-index: 0;
}
#hero .box3{
  position: absolute;
  width: 7%;
  height: 14%;
  background-color: rgba(245, 42, 42, 0.1);  
  rotate: 30deg;
  top: 15%;
  right: 8%;
  z-index: 0;
}


/* Medium and smaller screens */
@media (max-width: 1200px) {
  .nav-bar .list,
  .nav-bar .btn {
    display: none;
  }
  .menu-toggle {
    display: block;
    color: #111;
  }
  .nav-bar {
    padding: 10px 20px;
  }
  @media (max-width: 900px) {
  #hero {
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
  }

  #hero .container {
    flex-direction: column;
    align-items: center;
  }

  #hero .text, 
  #hero .relative {
    width: 90%;
  }

  #hero .buttons {
    justify-content: center;
  }

  #hero h2 {
    font-size: 2.8rem;
  }

  #hero p.bg-white {
    font-size: 1rem;
  }
}

}

/* sec1 */
#latest-articles{
  border: 2px solid #000;
  background-color: oklch(96.66% 0.00254 107.108 / 0.764);
  position: relative;
}
#latest-articles .container{
  padding-top: 80px;
  
}
#latest-articles .left{
  width: 66.666%;
}
#latest-articles .left .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
#latest-articles .left .head h3{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
}
#latest-articles .left .head .fire{
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  background-color: #000;
  color: white;
  rotate: 2deg;
  padding: 10px 14px;
  font-size: 0.9rem;
  font-weight: 600;
}
#latest-articles .left .card{
  box-shadow: 3px 3px 0 #000;
  border: 4px solid #000;
  margin-bottom: 50px;
}
#latest-articles .left .card .contant{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  width: 90%;
  margin: 25px auto;
  
}
#latest-articles .left .card .imge {
  position: relative;
}
#latest-articles .left .card .imge img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #000;
}
#latest-articles .left .card .imge .absolute{
  top: -5px;
  right: 0;
  padding: 3px 8px;
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  color: white;
  width: fit-content;
  font-size: .75rem;
  font-weight: 600;
}
#latest-articles .left .card .imge .bg-red{
  rotate: 15deg;
  background-color: oklch(63.7% .237 25.331);
}
#latest-articles .left .card .imge .bg-blue{
  rotate: -12deg;
  background-color: oklch(62.3% .214 259.815);
  color: white;
}
#latest-articles .left .card .imge .bg-perpel{
  rotate: 45deg;
  background-color: oklch(62.7% .265 303.9);
  color: white;
}
#latest-articles .left .card .text .left{
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  padding: 5px 15px;
  width: fit-content;
  font-size: .75rem;
  font-weight: 600;
  margin-bottom: 15px;
}
#latest-articles .left .card .text .bg-yellow{
  rotate: -2deg;
  background-color: oklch(90.5% .182 98.111);
}
#latest-articles .left .card .text .bg-green{
  rotate: 1deg;
  background-color: oklch(87.1% .15 154.449);
}
#latest-articles .left .card .text .bg-pink{
  rotate: -2deg;
  background-color: oklch(82.3% .12 346.018);
}
#latest-articles .left .card .text h4{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
#latest-articles .left .card .text p{
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 1rem;
}
#latest-articles .left .card .text .footer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
#latest-articles .left .card .text .footer .imge {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 8px;
}
#latest-articles .left .card .text .footer .imge img{
  width: 20px;
  height: 20px;
  border: none;
}
#latest-articles .left .card .text .footer .imge span{
  font-size: .85rem;
  font-weight: 550;
}
#latest-articles .left .card .text .footer .red{
  color: oklch(57.7% .245 27.325);
}
#latest-articles .left .card:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px #000;
  transition: all 0.3s ease;
}
#latest-articles .left .card:hover h4.red{
  color: oklch(57.7% .245 27.325);
}
#latest-articles .left .card:hover h4.blue{
  color: oklch(62.3% .214 259.815);
}
#latest-articles .left .card:hover h4.perpel{
  color: oklch(62.7% .265 303.9);
}
#latest-articles .left .cards .button{
  color: white;
  background-color: #000;
  box-shadow: 4px 4px #000;
  padding: 15px 25px;
  align-items: center;
  width: fit-content;
  justify-content: center;
  margin: 10px auto;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 50px;
}
#latest-articles .left .cards .button:hover{
  transform: translate(4px, 4px);
  box-shadow: none;
  transition: all 0.3s ease;
}
#latest-articles .left .cards .button i{
  color: white;
  font-size: inherit;
}
#latest-articles .right {
  width: 35%;
  padding-left: 40px;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}
#latest-articles .right h4{
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 1.2;
  padding-bottom: 20px;
  padding-top: 10px;
}
#latest-articles .right h5{
  font-weight: 800;
  font-size: 1rem;
  line-height: 1rem;
}
#latest-articles .right p{
  color: oklch(43.9% 0 0);
  font-size: .8;
  margin-top: .25rem;
}
#latest-articles .right .card1 .text{
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
#latest-articles .right .card1 span{
  font-weight: 900;
  font-size: 2.25rem;
  margin-inline: 1rem;
  top: 0;
}
#latest-articles .right .card1 span.red{
  color: oklch(63.7% .237 25.331);
}
#latest-articles .right .card1 span.blue{
  color: oklch(62.3% .214 259.815);
}
#latest-articles .right .card1 span.perpel{
  color: oklch(62.7% .265 303.9);
}
#latest-articles .right .cards .text{
  cursor: pointer;
  width: fit-content;
}
#latest-articles .right .cards .card1{
  border: 3px solid #000;
  box-shadow: 6px 6px #000;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 1.5rem;
}
#latest-articles .right .cards .card1 .h-red:hover h5{
  color: oklch(63.7% .237 25.331);
}
#latest-articles .right .cards .card1 .h-blue:hover h5{
  color: oklch(62.3% .214 259.815);
}
#latest-articles .right .cards .card1 .h-perpel:hover h5{
  color: oklch(62.7% .265 303.9);
}
#latest-articles .right .cards .card2{
  border: 3px solid #000;
  box-shadow: 6px 6px #000;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 50px;
}
#latest-articles .right .cards .card2 button{
  width: 100%;
  border: 2px solid #000;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 20px;
}
#latest-articles .right .cards .card2 button:hover{
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px #000;;
  transition: all 0.3s ease;
}
#latest-articles .right .cards .card2 button.bg-yellow{
  background-color: oklch(97.3% .071 103.193);
}
#latest-articles .right .cards .card2 button.bg-yellow:hover{
  background-color: oklch(90.5% .182 98.111);
}
#latest-articles .right .cards .card2 button.bg-green{
  background-color: oklch(96.2% .044 156.743);
}
#latest-articles .right .cards .card2 button.bg-green:hover{
  background-color: oklch(87.1% .15 154.449);
}
#latest-articles .right .cards .card2 button.bg-pink{
  background-color: oklch(94.8% .028 342.258);
}
#latest-articles .right .cards .card2 button.bg-pink:hover{
  background-color: oklch(82.3% .12 346.018);
}
#latest-articles .right .cards .card2 button.bg-blue{
  background-color: oklch(93.2% .032 255.585);
}
#latest-articles .right .cards .card2 button.bg-blue:hover{
  background-color: oklch(69.441% 0.15626 258.607);
}
#latest-articles .right .cards .card2 button.bg-perpel{
  background-color: oklch(94.6% .033 307.174);
}
#latest-articles .right .cards .card2 button.bg-perpel:hover{
  background-color: oklch(82.7% .119 306.383);
}
@media (max-width: 900px) {
  #latest-articles .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #latest-articles .left,
  #latest-articles .text,
  #latest-articles .right{
    width: 100%;
  }

  #latest-articles .left .head h3 {
    font-size: 2.2rem;
  }
  #latest-articles .left .card .contant {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #latest-articles .left .card .imge img {
    width: 100%;
    max-width: 300px;
  }

  #latest-articles .left .card .text {
    width: 100%;
  }
}
/* sec2 */
#authors{
  border: 2px solid #000;
  background-color: oklch(87.9% .169 91.605);
  position: relative;
}
#authors::after{
  content: "";
  position: absolute;
  top: 50px;
  right: 80px;
  height: 150px;
  width: 150px;
  background-color: #00000020; 
  rotate: 45deg;
}
#authors::before{
  content: "";
  position: absolute;
  bottom: 50px;
  left: 80px;
  height: 150px;
  width: 150px;
  background-color: #ed363620; 
  rotate: 20deg;
  z-index: 0;
}
#authors .head{
  text-align: center;
  margin-top: 70px;
  position: relative;
  margin-bottom: 70px;
}
#authors .head h3{
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 1.5;
}
#authors .head p{
  color: oklch(43.9% 0 0);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}
#authors .head::after{
  content: "";
  width: 8rem;
  height: .4rem;
  background-color: #000;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  
}
#authors .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#authors .cards .card {
  width:30%;
  border: 4px solid #000;
  box-shadow: 6px 6px #000;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.2s ease;
  margin-bottom: 70px;
  z-index: 10;
  box-sizing: border-box;
}
#authors .cards .card-red{
  background-color: oklch(97.3% .071 103.193);
}
#authors .cards .card-green{
  background-color: oklch(96.2% .044 156.743);
}
#authors .cards .card-pink{
  background-color: oklch(94.8% .028 342.258);
}
#authors .cards .card-red:hover h4{
  color: oklch(63.7% .237 25.331);
}
#authors .cards .card-green:hover h4{
  color: oklch(62.3% .214 259.815);
}
#authors .cards .card-pink:hover h4{
  color: oklch(62.7% .265 303.9);
}
#authors .cards .card:hover {
  transform: translate(-3px,-3px);
}
#authors .cards .card span {
  border: 2px solid #000;
  padding: 3px 8px;
  font-weight: 700;
  font-size: 0.7rem;
  top: 0;
  height: fit-content;
  z-index: 5;
}
#authors .cards .card span.bg-red{
  background-color: oklch(63.7% .237 25.331);
  rotate: 12deg;
  transform: translate(200%,-150%);
}
#authors .cards .card span.bg-blue{
  background-color: oklch(62.3% .214 259.815);
  rotate: -12deg;
  transform: translate(350%,150%);
}
#authors .cards .card span.bg-perpel{
  background-color: oklch(62.7% .265 303.9);
  rotate: 45deg;
  transform: translate(250%,-450%);
}
#authors .cards .card .imge {
  position: relative;
  width: 130px;
  height: 150px;
  margin: auto;
}
#authors .cards .card .imge img{
  margin: 15px auto;
  width: 130px;
  height: 130px;
  border: 3px solid #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#authors .cards .card h4 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 10px;
}
#authors .cards .card p.gray {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 1rem;
  color: oklch(43.9% 0 0);
}
#authors .cards .card p {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 1.1rem;
  color: oklch(43.9% 0 0);
}
#authors .cards .card ul {
  list-style: none;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

#authors .cards .card ul li img {
  width: 50px;
  border: 2px solid #000;
  padding: 4px;
  transition: all 0.2s ease;
  background-color: #000;
}
#authors .cards .card ul li img.hov-bg-red:hover{
  background-color: oklch(59.2% .249 .584);
}
#authors .cards .card ul li img.hov-bg-blue:hover{
  background-color: oklch(62.3% .214 259.815);
}

#authors .cards .card ul li img:hover {
  transform: translate(-3px,-3px);
  box-shadow: 3px 3px black;
}
@media (max-width: 1270px) {
  #authors .cards .card {
    width: 60%;
    max-width: 400px;
  }
}
@media (max-width: 900px) {
  #authors .head h3 {
    font-size: 2rem;
  }

  #authors .head p {
    font-size: 1rem;
  }

  #authors .cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #authors .cards .card {
    width: 100%;
    max-width: 400px;
  }

  #authors .card .imge {
    width: 100px;
    height: 100px;
  }

  #authors .card h4 {
    font-size: 1.1rem;
  }

  #authors::after {
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    rotate: 6deg;
  }
  #authors::before {
    bottom: 5px;
    left: 20px;
    height: 100px;
    width: 100px;
    rotate: 6deg;
  }
}
#community{
  border: 2px solid #000;
  background-color: oklch(97% 0 0);
  position: relative;
}
#community .head{
  text-align: center;
  margin-top: 70px;
  position: relative;
  margin-bottom: 70px;
}
#community .head h3{
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 1.5;
}
#community .head p{
  color: oklch(43.9% 0 0);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}
#community .head::after{
  content: "";
  width: 8rem;
  height: .4rem;
  background-color: #000;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  
}
#community .left{
  display: block;
  width: 50%;

}
#community .left h4{
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 900;
  margin-bottom: 30px;
}
#community .left p.bg-white{
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 600;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 3px 3px #000;
  padding: 1.2rem;
  margin-bottom: 30px;
}
#community .left .icon{
  gap: 1rem;
  align-items: center;
  margin-top: 20px;
}
#community .left .icon .imge{
  width: 3rem;
  border: 1px solid #000;
  padding: 10px;
}
#community .left .icon .bg-red{
  background-color: oklch(63.7% .237 25.331);
}
#community .left .icon .bg-blue{
  background-color: oklch(62.3% .214 259.815);
}
#community .left .icon .bg-perpel{
  background-color: oklch(62.7% .265 303.9);
}
#community .left .icon .bg-green{
  background-color: oklch(72.3% .219 149.579);
}
#community .left .icon span{
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 600;
}
#community .left .button{
  color: white;
  background-color: #000;
  box-shadow: 4px 4px #000;
  padding: 15px 25px;
  align-items: center;
  width: fit-content;
  justify-content: center;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 50px;
  
}
#community .left .button:hover{
  transform: translate(4px, 4px);
  box-shadow: none;
  transition: all 0.3s ease;
}
#community .left .button img{
  color: white;
  width: 30px;
  margin-right: 5px;
}
#community .right{
  display: block;
  width: 47%;
  margin-left: 3%;
  border: 4px solid #000;
  box-shadow: 4px 4px #000;
  background-color: white;
  padding: 2rem;
  margin-bottom: 50px;
}
#community .right h5{
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 900;
}
#community .right .cards .card{
  padding: 1.2rem;
  border: 2px solid #000;
  margin-top: 30px;
  
}
#community .right .cards .card .bottom{
  align-items: center;
}
#community .right .cards .bg-red{
  background-color: oklch(97.1% .013 17.38);
}
#community .right .cards .bg-blue{
  background-color: oklch(97% .014 254.604);
}
#community .right .cards .bg-perpel{
  background-color: oklch(97.7% .014 308.299);
}
#community .right .cards .card p{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}
#community .right .cards .card .bottom .imge{
  width: 3rem;
  border: 2px solid #000;
  margin-top: 15px;
  margin-right: 10px;
}
#community .right .cards .card .bottom .imge img{
  width: 100%;
}
#community .right .cards .card .bottom h6{
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 20px;
}
#community .right .cards .card .bottom p{
  font-size: .8rem;
  line-height: 1;
  font-weight: 600;
  color: oklch(43.9% 0 0);
  margin-top: 10px;
}
@media (max-width: 900px){
  #community .parent{
    flex-direction: column;
    align-items: center;
  }
  #community .left{
    width: 100%;
  }
  #community .right{
    width: 100%;
  }
}
#footer{
  padding: 2rem;
  background-color: #000;
  color: white;
}
#footer .top{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;

}
#footer .top .left{
  width: 40%;
  margin-right: 30px;
  box-sizing: border-box;
}
#footer .top .left .flex{
  align-items: center;

}
#footer .top .left .imge{
  background-color: white;
  width: 3rem;
  margin-right: 15px;
  padding: 10px;
}
#footer .top .left .flex h2{
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 900;
}
#footer .top h4{
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 900;
}
#footer .top .left p, #footer .top .right p{
  font-size: 1.125rem;
  line-height: 1.65;
  font-weight: 500;
  margin-top: 20px;
}
#footer .top .middle{
  width: 16%;
  box-sizing: border-box;
}
#footer .top .middle ul{
  list-style: none;
}
#footer .top .middle ul li{
  margin-top: 25px;
}
#footer .top .middle ul li a{
  cursor: pointer;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 500;
}
#footer .top .middle ul li a:hover{
  color: oklch(90.5% .182 98.111);
}
#footer .top .right{
  width: 40%;
  box-sizing: border-box;
  padding-left: 30px;
}
#footer .top .right .input input{
  width: 80%;
  padding: 20px;
  background-color: inherit;
  border: 2px solid #fff;
  font-size: 1.1rem;
  margin-top: 20px;
}
#footer .top .right .input button{
  width: 80%;
  padding: 20px;
  cursor: pointer;
  background-color: oklch(90.5% .182 98.111);
  border: 2px solid #000;
  box-shadow: -4px -4px 0 0 rgba(0, 0, 0, 0.2) inset;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
}
#footer .top .right .input button:hover{
  transform: translate(4px, 4px);
  transition: all 0.3s ease;
}
#footer .bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 2px solid white;
  padding-top: 20px;
  margin-bottom: 50px;
}
#footer .bottom .right{
  justify-content: space-evenly;
  gap: 20px;
}
#footer .bottom .right a{
  color: inherit;
  font-size: .9rem;
}
@media (max-width: 900px){
  #footer .top{
    flex-direction: column;
    align-items: center;
  }
  #footer .bottom{
    flex-direction: column;
    align-items: center;
  }
  #footer .top .left{
    width: 100%;
    margin-right: 0px;
  }
  #footer .top .middle{
    width: 100%;
    padding-top: 50px;
    align-items: center;
    padding-left: 0px;
  }
  #footer .top .right{
    width: 100%;
    padding-top: 50px;
    align-items: center;
    padding-left: 0px;
  }
}
